html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    
  }

  .ParentContainer{
    background: rgb(250,249,246);
    background: linear-gradient(0deg, rgba(250,249,246,1) 0%, rgba(76,175,80,1) 50%);
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
    overflow-x:hidden;
    position: relative;
    
    
  }

  .container1{
    margin: 5%;
    opacity: 0;
    display: block;
    padding: 20px;
    background-repeat: no-repeat;
    background-color: #f0e6e6;
    height: fit-content;
    border-radius: 9px;
    z-index: 5;
    transition: transform 1s ease, opacity 0.5s ease;
    position: absolute;
    

  }

  .hidden{
    opacity: 0 !important;
    transform: translateX(-100%)!important;
    pointer-events: none !important;
  }

label{
  font-family: 'lato', sans-serif;
  font-weight: bold;
}
  .containerTitle{
    
    text-align: center;
    font-family: 'lato', sans-serif;
    margin-top: 10px;
    border-bottom: solid 1px;
    
    
  }

  .quesBox{
    opacity: 0;
    width: 100%;
    margin-top: 5%;
    transition: opacity 1s ease;
    border-radius: 5px;
  }

  .quesText:hover{
    transition: 0.7s ease;
    transform: scale(1.05);
    background-color: lightgray;
  }
  .form-check-input{
    margin-left: 20px;
  }

  .quesText{
    font-family: 'lato', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    
  }

  .questions{
    width: 100%;
    
  }

  .container2{
    opacity: 0;
    pointer-events: none ;
    transition: transform 1s ease, opacity 0.5s ease;
    transform: translateX(100%);
    position: absolute;
    padding: 20px;
    background-repeat: no-repeat;
    height: fit-content;
    border-radius: 9px;
    z-index: 5;
    background-color: #faf9f6;
    display: block;
    flex-direction: column;
    z-index: 10;
    width: 70%;
  }

  .visible{
    
    opacity: 1 !important;
    transform: translateX(0%);
    pointer-events: all ;
  }

  .resInfoForm{
    
    display: flex;
    flex-direction: column;
  }

  


  .overallInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }

  .dayName{
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .NameLocationImg{
    position: relative;
    width: 25%;
    background-color: #f0e6e6;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 7px 7px 8px 0px rgba(0,0,0,0.2);
  }

  .predicOption{
    top:100%;
    left: 0%;
    z-index: 15;
    background-color: white;
    border: solid 1px;
    overflow-x: hidden;
    position: relative;
    width: 100%;
  }

  .predicOption:hover{
    background-color: lightgray;
  }

  .Leftelement{
    margin-bottom: 20px;
    z-index: 13;
  }

  .time-inputs{
    padding: 3px;
    border-bottom: solid 1px;
    margin-bottom: 20px;
  }

  .time-inputsS{
    background-color: #f0e6e6;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 7px 7px 8px 0px rgba(0,0,0,0.2);
  }

  .time-slot{
    margin-right: 5px;
    margin-left: 9px;
    border-radius: 5px;
    border: none;

  }

  .nextSectionBtn{
    width: 100%;
    display: flex;
    justify-content: center;
    
  }
  .nextBtn {
    margin-top: 20px;
    bottom: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    user-select: none;
    color: #ffffff;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #000000;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #000000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #6EC071;
    box-shadow: 7px 7px 8px 0px rgba(0,0,0,0.2);
  }
  
  .nextBtn:hover {
    transition: all 0.3s ease;
    transform: scale(1.1);
    
  }

  .previousbtn{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  #googlebtn{
    display: flex;
    justify-content: center;
  }
  

  .warningText{
    font-size: small;
    color: red;
    width: fit-content;
    
  }
  

  .googlebtnWarning{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .warningTextDiv{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    
  }