<div class="topBar">
    <div class="logo">
        <img class="logoimg" src = "http://localhost:3000/uploads/newlogo33.png" alt="Logo"/>

    </div>
    
    

</div>

<div class="ParentContainer">

    <div class="container1" #container1>
        <h1 class="containerTitle">Halal Eligibility Checklist</h1>
        <div #quesBox *ngFor="let question of halalQuestions; let i = index" class="quesBox">
            <input type="checkbox" class="form-check-input" id="questions{{i}}" (change)="updateHalalRating($event)">
            <label class="quesText"  for="question{{i}}">{{ question }}</label>
        </div>
        <div class="nextSectionBtn">
            <button class="nextBtn" (click)="nextSection($event)">Next</button>
        </div>
    </div>
    
    <div class="container2" #container2>
        
        <h1 class="containerTitle">Enter your restaurant's details</h1>
        <form #resForm="ngForm" class="resInfoForm">
            <div class="overallInfo">

                <div class="NameLocationImg" #NameLocationImg>
                    <div class="Leftelement">
                        <label for="resName" class="res">Restaurant Name *</label>
                        <input #inputField type="text" class="form-control" id="resName" name="resName" [(ngModel)]="resInfo.name" required>
                        
                    </div>
                    
            
                    <div class="Leftelement">
                        <label for="resLocation" class="res">Location *</label>
                        <input #inputField #resLocationInput type="text" class="form-control" id="resLocation" name="resLocation" [(ngModel)]="resInfo.location" (input)="onLocationChange($event)" required>
                        <ul *ngIf="predictions && predictions.length > 0">
                            <div *ngFor="let prediction of predictions" class="predicOption" (click)="selectPrediction(prediction)">
                            {{ prediction.description }}
                            </div>
                        </ul>
                    </div>
    
                    <div class="Leftelement">
                        <label for="resPhoto" class="res">Cover Photo *</label>
                        <label class="warningText">Please ensure your photo has 2.63:1 ratio or a 820x3120 resolution</label>
                        <input #inputField type="file" class="form-control" id="resPhoto" name="resPhoto" (change)="onFileSelected($event)" accept="image/*" required>
                    </div>
    
                </div>
        
                <div class="time-inputsS" id="times">
                    <label class="Openingschedule" id="openingHeading">Open Hours</label>
                    <div class="checkbox">
                        <label class="dayName">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="resInfo.days.monday.open" name="daysMondayOpen"> Monday
                        </label>
                    </div>
                    <div class="time-inputs">
                        <label for="resMondayOpeningTime ">Open from</label>
                        <input type="time" class="time-slot " id="resMondayOpeningTime" name="resMondayOpeningTime" [(ngModel)]="resInfo.days.monday.openingHours.start">
                        <label for="resMondayClosingTime">until</label>
                        <input type="time" class="time-slot" id="resMondayClosingTime" name="resMondayClosingTime" [(ngModel)]="resInfo.days.monday.openingHours.end">
                    </div>
        
                    <div class="checkbox">
                        <label class="dayName">
                            <input  class="form-check-input" type="checkbox" [(ngModel)]="resInfo.days.tuesday.open" name="daysTuesdayOpen"> Tuesday
                        </label>
                    </div>
                    <div class="time-inputs">
                        <label for="resTuesdayOpeningTime ">Open from</label>
                        <input type="time" class="time-slot " id="resTuesdayOpeningTime" name="resTuesdayOpeningTime" [(ngModel)]="resInfo.days.tuesday.openingHours.start">
                        <label for="resTuesdayClosingTime">until</label>
                        <input type="time" class="time-slot" id="resTuesdayClosingTime" name="resTuesdayClosingTime" [(ngModel)]="resInfo.days.tuesday.openingHours.end">
                    </div>
        
                    <div class="checkbox">
                        <label class="dayName">
                            <input  class="form-check-input" type="checkbox" [(ngModel)]="resInfo.days.wednesday.open" name="daysWednesdayOpen"> Wednesday
                        </label>
                    </div>
                    <div class="time-inputs">
                        <label for="resWednesdayOpeningTime ">Open from</label>
                        <input type="time" class="time-slot " id="resWednesdayOpeningTime" name="resWednesdayOpeningTime" [(ngModel)]="resInfo.days.wednesday.openingHours.start">
                        <label for="resWednesdayClosingTime">until</label>
                        <input type="time" class="time-slot" id="resWednesdayClosingTime" name="resWednesdayClosingTime" [(ngModel)]="resInfo.days.wednesday.openingHours.end">
                    </div>
        
                    <div class="checkbox">
                        <label class="dayName">
                            <input  class="form-check-input" type="checkbox" [(ngModel)]="resInfo.days.thursday.open" name="daysThursdayOpen"> Thursday
                        </label>
                    </div>
                    <div class="time-inputs">
                        <label for="resThursdayOpeningTime ">Open from</label>
                        <input type="time" class="time-slot " id="resThursdayOpeningTime" name="resThursdayOpeningTime" [(ngModel)]="resInfo.days.thursday.openingHours.start">
                        <label for="resThursdayClosingTime">until</label>
                        <input type="time" class="time-slot" id="resThursdayClosingTime" name="resThursdayClosingTime" [(ngModel)]="resInfo.days.thursday.openingHours.end">
                    </div>
        
                    <div class="checkbox">
                        <label class="dayName">
                            <input  class="form-check-input" type="checkbox" [(ngModel)]="resInfo.days.friday.open" name="daysFridayOpen"> Friday
                        </label>
                    </div>
                    <div class="time-inputs">
                        <label for="resFridayOpeningTime ">Open from</label>
                        <input type="time" class="time-slot " id="resFridayOpeningTime" name="resFridayOpeningTime" [(ngModel)]="resInfo.days.friday.openingHours.start">
                        <label for="resFridayClosingTime">until</label>
                        <input type="time" class="time-slot" id="resFridayClosingTime" name="resFridayClosingTime" [(ngModel)]="resInfo.days.friday.openingHours.end">
                    </div>
        
                    <div class="checkbox">
                        <label class="dayName">
                            <input  class="form-check-input" type="checkbox" [(ngModel)]="resInfo.days.saturday.open" name="daysSaturdayOpen"> Saturday
                        </label>
                    </div>
                    <div class="time-inputs">
                        <label for="resSaturdayOpeningTime ">Open from</label>
                        <input type="time" class="time-slot " id="resSaturdayOpeningTime" name="resSaturdayOpeningTime" [(ngModel)]="resInfo.days.saturday.openingHours.start">
                        <label for="resSaturdayClosingTime">until</label>
                        <input type="time" class="time-slot" id="resSaturdayClosingTime" name="resSaturdayClosingTime" [(ngModel)]="resInfo.days.saturday.openingHours.end">
                    </div>
        
                    <div class="checkbox">
                        <label class="dayName">
                            <input  class="form-check-input" type="checkbox" [(ngModel)]="resInfo.days.sunday.open" name="daysSundayOpen"> Sunday
                        </label>
                    </div>
                    <div class="time-inputs lastTimeInput">
                        <label for="resSundayOpeningTime ">Open from</label>
                        <input type="time" class="time-slot " id="resSundayOpeningTime" name="resSundayOpeningTime" [(ngModel)]="resInfo.days.sunday.openingHours.start">
                        <label for="resSundayClosingTime">until</label>
                        <input type="time" class="time-slot" id="resSundayClosingTime" name="resSundayClosingTime" [(ngModel)]="resInfo.days.sunday.openingHours.end">
                    </div>
        
                    
                </div>

            </div>
            
    
            
            
            
            <div class="previousbtn">
                <button (click)="previous($event)" class="nextBtn">Previous</button>
                
            </div>
            <div class="googlebtnWarning" >
                
                <div class="warningTextDiv">
                    <label class="warningText">Please use the same email for this account as the one linked to your PayPal payments.</label>

                </div>

                <div id="googlebtn" >
                
    
    
                </div>

            </div>
            
    
        </form>
        
    
        
    
            
    
        
    
        
    
    </div>


</div>
