html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    
  }


  .topBar{
    margin-top:2%;
    width: 100%;
    display: flex;
    margin-right: 10px;
    height: 10%;
    z-index: 5;
    position: relative;

    flex-direction: row;
    
}


.logo{
  width:15%;  
}

.logoimg{
  width: 100%;
  height:100%;
  object-fit:contain;
}

  .ParentContainer{
    background: #e5e8e2;
    
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    z-index: 0;
    overflow-x:hidden;
    position: relative;
    
    
  }

  .container1{
    width: 60vw;
    opacity: 0;
    display: block;
    
    background-repeat: no-repeat;
    background-color: #e5e8e2;
    height: fit-content;
    border-radius: 9px;
    z-index: 5;
    transition: transform 1s ease, opacity 0.5s ease;
    position: absolute;
    

  }

  .hidden{
    opacity: 0 !important;
    transform: translateX(-100%)!important;
    pointer-events: none !important;
  }

  .checkbox{
    width:100%;
    border-bottom: solid 1px;
    margin-bottom: 5px;
  }

label{
  font-family: 'DM sans', sans-serif;
  
}
  .containerTitle{
    
    text-align: center;
    font-family: 'Georgia', serif;
    font-weight: bold;
    z-index: 10;
    position: relative;
    margin-bottom: 30px;
    height: 10%;
    font-size: 370%;
    
    
    
  }

  .quesBox{
    opacity: 0;
    width: 100%;
    margin-top: 2%;
    transition: opacity 1s ease;
    border-radius: 5px;
  }

  .quesText:hover{
    transition: 0.7s ease;
    transform: scale(1.05);
    background-color: lightgray;
  }

  .form-check-input{
    
    border-radius: 50%;
  }

  .quesText{
    font-family: 'DM sans', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    
    
  }



  .questions{
    width: 100%;
    
  }

  .container2{
    opacity: 0;
    pointer-events: none ;
    transition: transform 1s ease, opacity 0.5s ease;
    transform: translateX(100%);
    position: absolute;
    
    background-repeat: no-repeat;
    height: fit-content;
    border-radius: 9px;
    z-index: 5;
    background-color: #e5e8e2;
    display: block;
    flex-direction: column;
    z-index: 10;
    width: 70%;
  }

  .visible{
    
    opacity: 1 !important;
    transform: translateX(0%);
    pointer-events: all ;
  }

  .resInfoForm{
    
    display: flex;
    flex-direction: column;
  }

  .form-control{
    background-color: #e5e8e2;
    border: solid lightgray 2px;
  }

.res{
  font-weight: bold;
  margin-bottom: 10px;
}
  .overallInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;

  }

  .dayName{
    margin-bottom: 5px;
    margin-top: 5px;
    
  }
  .NameLocationImg{
    position: relative;
    width: 35%;
    background-color: #e5e8e2;
    padding: 20px;
    
    border-right: solid 1px;
    padding-right: 60px;
    
  }

  .predicOption{
    top:100%;
    left: 0%;
    z-index: 15;
    background-color: white;
    border: solid 1px;
    overflow-x: hidden;
    position: relative;
    width: 100%;
  }

  .predicOption:hover{
    background-color: lightgray;
  }

  .Leftelement{
    margin-bottom: 20px;
    z-index: 13;
    
  }

  .time-inputs{
    padding: 3px;
    
    
    margin-bottom: 20px;
  }

  .lastTimeInput{
    margin-bottom: 0px;
  }

  .Openingschedule{
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .time-inputsS{
    background-color: #e5e8e2;
    padding: 20px;
    padding-bottom:0px;
    padding-left: 60px;
    width: 40%
    
  }

  .openFrom{
    margin-right: 20px;
  }

  .lolol{
    border: none;
    border-radius: 50% !important;
  }

  .time-slot{
    margin-right: 25px;
    margin-left: 9px;
    border-radius: 5px;
    border: none;
    background-color: #e5e8e2;

  }

  .nextSectionBtn{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    
  }
  .nextBtn {
    
    width: 25%;
    height:fit-content;
    margin-top: 20px;
    bottom: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    user-select: none;
    color: white;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #000000;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #000000;
    border-radius: 50px;
    background-color: #334625;
    box-shadow: 7px 7px 8px 0px rgba(0,0,0,0.2);
  }
  
  .nextBtn:hover {
    transition: all 0.3s ease;
    transform: scale(1.1);
    background-color: #9ebb8d;
    color: black;
    
  }

  .previousbtn{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  #googlebtn{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  

  .warningText{
    font-size: small;
    color: red;
    width: fit-content;
    
  }
  

  .googlebtnWarning{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .warningTextDiv{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    
  }