<div class="container1">
    <h1>Halal Eligibility Checklist</h1>
    <div *ngFor="let question of halalQuestions; let i = index">
        <input type="checkbox" id="questions{{i}}" (change)="updateHalalRating($event)">
        <label for="question{{i}}">{{ question }}</label>
    </div>
</div>

<div class="container2">
    <h1>List Your Restaurant!</h1>
    <form #resForm="ngForm" >
        <div class="form-group">
            <label for="resName">Name</label>
            <input type="text" class="form-control" id="resName" name="resName" [(ngModel)]="resInfo.name" required>
            
        </div>
        

        <div class="form-group">
            <label for="resLocation">Location</label>
            <input #resLocationInput type="text" class="form-control" id="resLocation" name="resLocation" [(ngModel)]="resInfo.location" (input)="onLocationChange($event)" required>
            <ul *ngIf="predictions && predictions.length > 0">
                <li *ngFor="let prediction of predictions" (click)="selectPrediction(prediction)">
                  {{ prediction.description }}
                </li>
            </ul>
        </div>

        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" [(ngModel)]="resInfo.days.monday.open" name="daysMondayOpen"> Monday
                </label>
            </div>
            <div class="time-inputs">
                <label for="resMondayOpeningTime">Opening Time</label>
                <input type="time" class="form-control" id="resMondayOpeningTime" name="resMondayOpeningTime" [(ngModel)]="resInfo.days.monday.openingHours.start">
                <label for="resMondayClosingTime">Closing Time</label>
                <input type="time" class="form-control" id="resMondayClosingTime" name="resMondayClosingTime" [(ngModel)]="resInfo.days.monday.openingHours.end">
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" [(ngModel)]="resInfo.days.tuesday.open" name="daysTuesdayOpen"> Tuesday
                </label>
            </div>
            <div class="time-inputs">
                <label for="resTuesdayOpeningTime">Opening Time</label>
                <input type="time" class="form-control" id="resTuesdayOpeningTime" name="resTuesdayOpeningTime" [(ngModel)]="resInfo.days.tuesday.openingHours.start">
                <label for="resTuesdayClosingTime">Closing Time</label>
                <input type="time" class="form-control" id="resTuesdayClosingTime" name="resTuesdayClosingTime" [(ngModel)]="resInfo.days.tuesday.openingHours.end">
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" [(ngModel)]="resInfo.days.wednesday.open" name="daysWednesdayOpen"> Wednesday
                </label>
            </div>
            <div class="time-inputs">
                <label for="resWednesdayOpeningTime">Opening Time</label>
                <input type="time" class="form-control" id="resWednesdayOpeningTime" name="resWednesdayOpeningTime" [(ngModel)]="resInfo.days.wednesday.openingHours.start">
                <label for="resWednesdayClosingTime">Closing Time</label>
                <input type="time" class="form-control" id="resWednesdayClosingTime" name="resWednesdayClosingTime" [(ngModel)]="resInfo.days.wednesday.openingHours.end">
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" [(ngModel)]="resInfo.days.thursday.open" name="daysThursdayOpen"> Thursday
                </label>
            </div>
            <div class="time-inputs">
                <label for="resThursdayOpeningTime">Opening Time</label>
                <input type="time" class="form-control" id="resThursdayOpeningTime" name="resThursdayOpeningTime" [(ngModel)]="resInfo.days.thursday.openingHours.start">
                <label for="resThursdayClosingTime">Closing Time</label>
                <input type="time" class="form-control" id="resThursdayClosingTime" name="resThursdayClosingTime" [(ngModel)]="resInfo.days.thursday.openingHours.end">
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" [(ngModel)]="resInfo.days.friday.open" name="daysFridayOpen"> Friday
                </label>
            </div>
            <div class="time-inputs">
                <label for="resFridayOpeningTime">Opening Time</label>
                <input type="time" class="form-control" id="resFridayOpeningTime" name="resFridayOpeningTime" [(ngModel)]="resInfo.days.friday.openingHours.start">
                <label for="resFridayClosingTime">Closing Time</label>
                <input type="time" class="form-control" id="resFridayClosingTime" name="resFridayClosingTime" [(ngModel)]="resInfo.days.friday.openingHours.end">
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" [(ngModel)]="resInfo.days.saturday.open" name="daysSaturdayOpen"> Saturday
                </label>
            </div>
            <div class="time-inputs">
                <label for="resSaturdayOpeningTime">Opening Time</label>
                <input type="time" class="form-control" id="resSaturdayOpeningTime" name="resSaturdayOpeningTime" [(ngModel)]="resInfo.days.saturday.openingHours.start">
                <label for="resSaturdayClosingTime">Closing Time</label>
                <input type="time" class="form-control" id="resSaturdayClosingTime" name="resSaturdayClosingTime" [(ngModel)]="resInfo.days.saturday.openingHours.end">
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" [(ngModel)]="resInfo.days.sunday.open" name="daysSundayOpen"> Sunday
                </label>
            </div>
            <div class="time-inputs">
                <label for="resSundayOpeningTime">Opening Time</label>
                <input type="time" class="form-control" id="resSundayOpeningTime" name="resSundayOpeningTime" [(ngModel)]="resInfo.days.sunday.openingHours.start">
                <label for="resSundayClosingTime">Closing Time</label>
                <input type="time" class="form-control" id="resSundayClosingTime" name="resSundayClosingTime" [(ngModel)]="resInfo.days.sunday.openingHours.end">
            </div>

            
        </div>

        <div class="form-group">
            <label for="resPhoto">Cover Photo</label>
            <input type="file" class="form-control" id="resPhoto" name="resPhoto" (change)="onFileSelected($event)" accept="image/*" required>
        </div>

        <hr>

        <div class="menu">
            <div class="meals" #mealContainer>
                <div class="form-group meal" #mealDiv>
                    <button class="deleteDivbtn"  (click)="deleteDiv($event)">Delete</button>
                    <label for="mealName">Meal Name</label>
                    <input type="text" class="form-control"  name="mealName" required>
                    <label for="mealDescription">Description/Ingredients</label>
                    <input type="text" class="form-control"  name="mealDescription" required>
                    <label for="mealPrice">Price</label>
                    <input type="number" class="form-control"  name="mealPrice" required>
                    <label for="halal">Halal</label>
                    <input type="checkbox" class="form-control"  name="halal" required>
                    <label for="vegan">Vegan</label>
                    <input type="checkbox" class="form-control"  name="vegan" required>
                    <label for="vegetarian">Vegetarian</label>
                    <input type="checkbox" class="form-control"  name="vegetarian" required>
                    <label for="glutenFree">Gluten Free</label>
                    <input type="checkbox" class="form-control"  name="glutenFree" required>
                    <label for="lactoseFree">Lactose Free</label>
                    <input type="checkbox" class="form-control"  name="lactoseFree" required>
                    <label for="mealimg">Meal Image</label>
                    <input type="file" class="form-control"  name="mealimg" accept="image/*" required>
                </div>

                <button class="addMealbtn" id="addMeal" #addMealBtn (click)="addMeal()">Add Meal</button>

            </div>

            <div class="deserts" #desertContainer>
                <div class="form-group desert" #desertDiv>
                    <button class="deleteDivbtn"  (click)="deleteDiv($event)">Delete</button>
                    <label for="desertName">Desert Name</label>
                    <input type="text" class="form-control"  name="desertName" required>
                    <label for="desertDescription">Description/Ingredients</label>
                    <input type="text" class="form-control"  name="desertDescription" required>
                    <label for="desertPrice">Price</label>
                    <input type="number" class="form-control"  name="desertPrice" required>
                    <label for="halal">Halal</label>
                    <input type="checkbox" class="form-control"  name="halal" required>
                    <label for="vegan">Vegan</label>
                    <input type="checkbox" class="form-control"  name="vegan" required>
                    <label for="vegetarian">Vegetarian</label>
                    <input type="checkbox" class="form-control"  name="vegetarian" required>
                    <label for="glutenFree">Gluten Free</label>
                    <input type="checkbox" class="form-control"  name="glutenFree" required>
                    <label for="lactoseFree">Lactose Free</label>
                    <input type="checkbox" class="form-control"  name="lactoseFree" required>
                    <label for="desertimg">Desert Image</label>
                    <input type="file" class="form-control"  name="desertimg" accept="image/*" required>
                </div>
                <button class="addDesertbtn" id="addDesert" #addDesertBtn (click)="addDesert()">Add Desert</button>

            </div>

            <div class="drinks" #drinkContainer>
                <div class="form-group drink" #drinkDiv>
                    <button class="deleteDivbtn"  (click)="deleteDiv($event)">Delete</button>
                    <label for="drinkName">Drink Name</label>
                    <input type="text" class="form-control"  name="drinkName" required>
                    <label for="drinkDescription">Description/Ingredients</label>
                    <input type="text" class="form-control"  name="drinkDescription" required>
                    <label for="drinkPrice">Price</label>
                    <input type="number" class="form-control"  name="drinkPrice" required>
                    <label for="halal">Halal</label>
                    <input type="checkbox" class="form-control"  name="halal" required>
                    <label for="vegan">Vegan</label>
                    <input type="checkbox" class="form-control"  name="vegan" required>
                    <label for="vegetarian">Vegetarian</label>
                    <input type="checkbox" class="form-control"  name="vegetarian" required>
                    <label for="glutenFree">Gluten Free</label>
                    <input type="checkbox" class="form-control"  name="glutenFree" required>
                    <label for="lactoseFree">Lactose Free</label>
                    <input type="checkbox" class="form-control"  name="lactoseFree" required>
                    <label for="drinkimg">Drink Image</label>
                    <input type="file" class="form-control"  name="drinkimg" accept="image/*" required>
                </div>

                <button class="addDrinkbtn" id="addDrink" #addDrinkBtn (click)="addDrink()">Add Drink</button>


            </div>

        </div>

        

    </form>

    <div id="g_id_onload"
               data-client_id="490153988551-ennqdrg2knoqj3rm1encr5vq0f7tlh50.apps.googleusercontent.com"
               data-context="signup"
               data-ux_mode="popup"
               data-callback="handleFormSubmission"
               data-auto_select="false"
               data-itp_support="true">
    </div>

    <div class="g_id_signin"
               data-type="standard"
               data-shape="pill"
               data-theme="filled_black"
               data-text="continue_with"
               data-size="large"
               data-logo_alignment="left">
    </div> 

</div>