<header>
    <span class="logo" >Halal Eats</span>
    <nav>
        <ul class="nav__links">
            <li><a href="#">Services</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
    <a class-="cta" href="#"><button (click)="logout('logout requested!')">Logout</button></a>
    
</header>
<body>
    <div class="restaurantContainer" *ngIf="restaurantPackage">

        <div class="restaurant" *ngFor="let restaurant of restaurantPackage">
            <div class="coverImgDiv">
                <img [src]=" 'http://localhost:3000/' + restaurant.images" alt="Description of image"/>
            </div>
            <div class="resName">
                <h1>{{restaurant.name}}</h1>
            </div>
            <div class="disrating">
                <div class="dis">
                    <h6>{{restaurant.distance}}</h6>
                </div>
                <div class="rating">
                    <h6>{{restaurant.halalRating}}</h6>
                </div>
            </div>
        </div>
       
    </div>

</body>






