<header>
    <span class="logo" >Halal Eats</span>
    <nav>
        <ul class="nav__links">
            <li><a href="#">Services</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
    <a class-="cta" href="#"><button (click)="logout('logout requested!')">Logout</button></a>
    
</header>
<body>
    <div class="restaurantContainer" *ngIf="restaurantPackage">

        <div class="restaurant" *ngFor="let restaurant of restaurantPackage">
            <div class="coverImgDiv">
                <img [src]=" 'http://localhost:3000/' + restaurant.images" alt="Description of image"/>
            </div>
            <div class="resName">
                <h1 (click)="restaurantPage(restaurant.id, currentUserId)">{{ restaurant.name }}</h1>
            </div>
            <div class="disrating">
                <div class="dis">
                    <h6>{{restaurant.distance}}</h6>
                </div>
                <div class="rating">
                    <h6>{{restaurant.halalRating}}</h6>
                </div>
            </div>
        </div>
       
    </div>
    <div class="noOrders" *ngIf="!cxOrders"><h2>You have not placed any orders yet!</h2></div>
    <div class="cxOrdersContainer" *ngIf="cxOrders">
        
            <div class="cxOrderItems" *ngFor="let order of cxOrders">
                <div class="orderRow">
                    <div class="orderID">{{order.id}}</div>
                    <div class="itemsList" *ngFor="let item of order.items">
                        <div class="orderQuantity">X{{item.quantity}}</div>
                        <div class="OrderName">{{item.name}}</div>
                        <div class="price">${{item.quantity * item.unit_amount.value}}</div>
                    </div>
                    <div class="orderStatus">{{order.status}}</div>
                    <div class="timePlace">{{order.createdAt}}</div>
                    <div class="lastMod">{{order.updatedAt}}</div>
                </div>
            </div>
            <span style="display: block; width: 100%; border-top: 1px solid black;"></span>
        
        
    </div>

</body>






