<div class="mainDiv">

    <div class="topBar">
        <div class="logo">
            <img class="logoimg" src = "http://localhost:3000/uploads/smallLogo.png" alt="Logo"/>
    
        </div>
        
        <div class="hrefDiv">
            <ul class="nav__links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Place Holder</a></li>
                <li><a href="#">Future Updates</a></li>
            </ul>
        </div>

        <div class="logoutDiv">
            <button class="logoutBtn" (click)="logout('logout requested!')">Log Out</button>
        </div>
    </div>

    <div class="mainContent">
        <div class="coverPhoto">
            <img class="coverImg" src = "http://localhost:3000/uploads/CoverImg.jpg" alt="Cover Image"/>
        </div>

         <div class="crammedDiv">
            <div class="restaurantContainer" *ngIf="restaurantPackage">

                <div class="restaurant" *ngFor="let restaurant of restaurantPackage">
                    <div class="coverImgDiv">
                        <img class="restaurantCoverImg" [src]=" 'http://localhost:3000/' + restaurant.images" alt="Description of image"/>
                    </div>

                    <div class="restaurantDetails">
                        <div class="resName">
                            <!-- , currentUserId for click below -->
            
                            <label class="restaurantNameLabel" (click)="restaurantPage(restaurant.id)">{{ restaurant.name }}</label>
                        </div>
                        <div class="disrating">
                            <div class="rating">
                                <h6>&#x062D;&#x0644;&#x0627;&#x0644; rating: {{restaurant.halalRating}}</h6>
                            </div>
                            <div class="dis">
                                <h6>{{restaurant.distance | number: '1.1-1'}}KM Away from you</h6>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
               
            </div>


            <div class="noOrders" *ngIf="!cxOrders"><h2>You have not placed any orders yet!</h2></div>


            <div class="cxOrdersContainer" *ngIf="cxOrders">
                <div class="ordersTitle">
                    <label class="titlesLable">Orders Placed</label>
                </div>
        
                <div class="cxOrderItems" *ngFor="let order of cxOrders">

                    <div class="orderinfo">
                        <label class="orderLabel">Order ID: {{order.id}}</label>
                    </div>
                    <div class="orderinfo">
                        <label class="orderLabel">Status: {{order.status}}</label>
                    </div>
                    
                </div>
                
            
            
            </div> 



        </div> 
        


    </div>
</div>







