<div class="mainDiv">
    <div class="topBar">
        <div class="logo">
             <img class="logoimg" src = "http://localhost:3000/uploads/smallLogo.png" alt="Logo"/>   
        </div>


        <div class="logoutDiv">
           <!-- CART -->
        </div>

    </div>

    <div class="mainContent">
        <div class="coverPhoto">
            <img class="coverImg" [src] = " 'http://localhost:3000/' + restaurant.images"  alt="Cover Image"/>
        </div>
        <div class="resHeaders">
            <div class="resName">
                <label class="resTitle">{{restaurant.name}}</label>
            </div>
            <div class="disrating">
                <div class="open">
                    <label class="disLabel">{{restaurant.open}}</label>
                </div>
                <div class="distance">
                    <label class="disLabel">{{distance}}KM away</label>
                </div>
                <div class="rating">

                </div>

            </div>
        </div>

    </div>


</div>


<!--



<p>restaurant-page works! id is {{ restaurantId }}</p>



<div class="menue">
    <div class="topbar"> 
        <div class="meals"></div>
        <div class="drinks"></div>
        <div class="deserts"></div>
        <div class="cart">
            <div class="divItems" *ngFor="let item of orderArray">
                <h6 class="itemName">{{item.name}}</h6>
                <h6 class="itemPrice">{{item.unit_amount.value}}</h6>
                <div class="quantity">
                    <button class="dltBtn" (click)="dlt( item.name, item.description, item.unit_amount.value)">-</button>
                    <h6 class="itemQuantity">{{item.quantity}}</h6>
                    <button (click)="addToCart(item.name, item.description, item.unit_amount.value)" class="addToCartBtn">+</button>
                </div>
                

            </div>
            <div class="totalPrice" *ngIf="getTotal() > 0">
               <h4 class="price">${{ getTotal() }}</h4>
            </div>
            <div class="checkout" *ngIf="getTotal() > 0">
                <button class="checkoutBtn" (click)="checkout( getTotal() )">Checkout</button>
            </div>
        </div>

    </div>
    <div class="content">
        <div class="mealsContainer" *ngIf="mealsArray">
            <div class="mealsContent" *ngFor="let meal of mealsArray">
                <div class="data">
                    <div class="Mname">{{meal.name}}</div>
                    <div class="Mdescription">{{meal.description}}</div>
                    <div class="Mprice">${{meal.price}}</div>
                    <div class="Mhalal" *ngIf="meal.halal"> halal _/</div>
                    <div class="Mvegan" *ngIf="meal.vegan"> vegan _/</div>
                    <div class="Mvegetarian" *ngIf="meal.vegetarian"> vegetarian _/</div>
                    <div class="Mlactosefree" *ngIf="meal.lactoseFree">lactose free _/</div>
                    <div class="Mglutenfree" *ngIf="meal.glutenFree"> gluten free _/</div>
                </div>
                <div class="image">
                    <img [src]=" 'http://localhost:3000/' + meal.imgPath" alt="Description of image"/>
                </div>
                <div class="addToCart">
                    <button (click)="addToCart(meal.name, meal.description, meal.price)" class="addToCartBtn">add to cart</button>
                </div>

            </div>
        </div>
            
        <div class="drinksContent" *ngIf="drinksArray">

            <div class="drinksContent" *ngFor="let drink of drinksArray">
                <div class="data">
                    <div class="Mname">{{drink.name}}</div>
                    <div class="Mdescription">{{drink.description}}</div>
                    <div class="Mprice">${{drink.price}}</div>
                    <div class="Mhalal" *ngIf="drink.halal"> halal _/</div>
                    <div class="Mvegan" *ngIf="drink.vegan"> vegan _/</div>
                    <div class="Mvegetarian" *ngIf="drink.vegetarian"> vegetarian _/</div>
                    <div class="Mlactosefree" *ngIf="drink.lactoseFree">lactose free _/</div>
                    <div class="Mglutenfree" *ngIf="drink.glutenFree"> gluten free _/</div>
                </div>
                <div class="image">
                    <img [src]=" 'http://localhost:3000/' + drink.imgPath" alt="Description of image"/>
                </div>
                <div class="addToCart">
                    <button (click)="addToCart(drink.name, drink.description, drink.price)" class="addToCartBtn">add to cart</button>
                </div>

            </div>


        </div>
        <div class="desertsContent" *ngIf="desertsArray">


            <div class="desertsContent" *ngFor="let desert of desertsArray">
                <div class="data">
                    <div class="Mname">{{desert.name}}</div>
                    <div class="Mdescription">{{desert.description}}</div>
                    <div class="Mprice">${{desert.price}}</div>
                    <div class="Mhalal" *ngIf="desert.halal"> halal _/</div>
                    <div class="Mvegan" *ngIf="desert.vegan"> vegan _/</div>
                    <div class="Mvegetarian" *ngIf="desert.vegetarian"> vegetarian _/</div>
                    <div class="Mlactosefree" *ngIf="desert.lactoseFree">lactose free _/</div>
                    <div class="Mglutenfree" *ngIf="desert.glutenFree"> gluten free _/</div>
                </div>
                <div class="image">
                    <img [src]=" 'http://localhost:3000/' + desert.imgPath" alt="Description of image"/>
                </div>
                <div class="addToCart">
                    <button (click)="addToCart(desert.name, desert.description, desert.price)" class="addToCartBtn">add to cart</button>
                </div>

            </div>

        </div>
        
    </div>
    
    
</div> -->