<div class="mainDiv">
    <div class="topBar">
        <div class="logo">
             <img class="logoimg" src = "https://res.cloudinary.com/ddskaubab/image/upload/f_auto,q_auto/newlogo33_zreu21.png" alt="Logo"/>   
        </div>


        <div class="logoutDiv">
            <div class="cartIcon" (click)="ShowCart('cart')"><span class="badge"></span> <i class="fas fa-shopping-cart" ></i></div>

            <div class="cart" id="cart">

                <div class="headers">
                    <div class="itemNameC">Item Name</div>
                    <div class="itemPriceC">Unit Price</div>
                    <div class="quantityC">Quantity</div>
                    <div class="closeCart" (click)="closeCart('cart')"><i class="fas fa-xmark"></i></div>
                </div>
                <div class="repeatingItems">
                    <div class="cartDivItems" *ngFor="let item of orderArray">
                        <div class="itemNameC">{{item.name}}</div>
                        <div class="itemPriceC">${{item.unit_amount.value}}.00</div>
                        <div class="quantityC">
                            <div class="dltBtnC" (click)="dlt( item.name, item.description, item.unit_amount.value)"><i class="fas fa-minus" ></i></div>
                            <div class="itemQuantityC">{{item.quantity}}</div>
                            <div (click)="addToCart(item.name, item.description, item.unit_amount.value)" class="addToCartBtnC"><i class="fas fa-plus" ></i></div>
                        </div>
                        
        
                    </div>
                </div>
                
                
                <div class="conclusionDiv">
                    <div class="totalPriceC" *ngIf="getTotal() > 0">
                        <div class="priceC">Total Price:    ${{ getTotal() }}.00</div>
                    </div>
                    <div class="checkoutC" *ngIf="getTotal() > 0">
                        <div class="checkoutBtnC" (click)="checkout( getTotal() )">Checkout</div>
                    </div> 
                </div>

            </div>


            <button class="logoutBtn" (click)="logout('logout requested!')">Log Out</button>
        </div>

    </div>

    <div class="mainContent">
        <div class="coverPhoto">
            <img class="coverImg" [src] = "restaurant.images"  alt="Cover Image2"/>
        </div>
        <div class="resHeaders">
            <div class="resName">
                <label class="resTitle">{{restaurant.name}}</label>
            </div>
            <div class="disrating">
                <div class="OorC" >
                    <label class="opLabel" *ngIf="restaurant.open">OPEN</label>
                    <label class="clLabel" *ngIf="!restaurant.open">CLOSED</label>
                </div>
                <div class="distance">
                    <label class="disLabel"><img width="39" height="39" src="https://img.icons8.com/fluency/48/google-maps-new.png" alt="google-maps-new"/>{{distance  | number: '1.1-1'}}KM</label>
                </div>
                <div class="rating">
                    <label class="disLabel"><div class="star"><span class="number">{{restaurant.halalRating}}</span></div></label>
                </div>

            </div>
        </div>

        <div class="menues">
            <div class="tabsDiv">
                <div class="firstHalf">
                    <div #tabs class="mealsTab tab" id="mealsTab" (click)="showDiv('mealsBox', 'mealsTab')">
                        <label class="label" >Meals</label>
                    </div>
                    <div #tabs class="drinksTab tab" id="drinksTab" (click)="showDiv('drinksBox', 'drinksTab')">
                        <label class="label" >Drinks</label>
                    </div>
                    <div #tabs class="desertsTab tab"  id="desertTab" (click)="showDiv('desertsBox', 'desertTab')">
                        <label class="label" >Desert</label>
                    </div>
                </div>

                <div class="secondHalf">

                </div>
                
            </div>
            <div class="itemsDiv">

                        <div #menueBox class="mealsContainer menueContainer" id="mealsBox" >
                            <div class="mealsContent itemS" *ngFor="let meal of mealsArray">
                                <div class="imgandprice">

                                    <div class="image itemImageDiv">
                                        <img class="itemImage" [src]=" meal.imgPath" alt="Description of image"/>
                                    </div>
                                    <div class="Mprice itemPrice">${{meal.price}}.00</div>

                                    
                                    <div class="addToCartBtn" (click)="addToCart(meal.name, meal.description, meal.price)">add to cart</div>
                                    

                                </div>
                                <div class="itemdata">
                                    <div class="itemHeaders">
                                        <div class="Mname itemName">{{meal.name}}</div>
                                        
                                        
                                    </div>
                                    
                                    <div class="Mdescription itemDescription">{{meal.description}}</div>
                                    
                                    <div class="checks">
                                        
                                        <div class="Mvegan check itemVegan" *ngIf="meal.vegan"><img class="iconimg" src = "https://res.cloudinary.com/ddskaubab/image/upload/f_auto,q_auto/vegan_rqu3az.png" alt="Logo"/></div>
                                        <div class="Mvegetarian check itemVegetarian" *ngIf="meal.vegetarian"><img class="iconimg" src = "https://res.cloudinary.com/ddskaubab/image/upload/f_auto,q_auto//vegetarian_kcboot.png" alt="Logo"/></div>
                                        <div class="Mlactosefree check itemLactose" *ngIf="meal.lactoseFree"><img class="iconimg" src = "https://res.cloudinary.com/ddskaubab/image/upload/f_auto,q_auto/lactose_erk6zo.png" alt="Logo"/></div>
                                        <div class="Mglutenfree check itemGluten" *ngIf="meal.glutenFree"><img class="iconimg" src = "https://res.cloudinary.com/ddskaubab/image/upload/f_auto,q_auto/gluten_iytb6a.png" alt="Logo"/></div>
                                    </div>
                                    
                                    
                                </div>
                                
                                
            
                            </div>
                        </div>

                        <div #menueBox class="drinksContainer menueContainer" id="drinksBox" >
                            <div class="drinksContent itemS" *ngFor="let drink of drinksArray">

                                <div class="imgandprice">
                                    <div class="image itemImageDiv">
                                        <img class="itemImage" [src]="drink.imgPath" alt="Description of image"/>
                                    </div>
                                    <div class="Mprice itemPrice">${{drink.price}}.00</div>
                                    <div class="addToCartBtn" (click)="addToCart(drink.name, drink.description, drink.price)">add to cart</div>

                                </div>
                                <div class="itemdata">
                                    <div class="itemHeaders">
                                        <div class="Mname itemName">{{drink.name}}</div>
                                        
                                        
                                    </div>
                                    <div class="Mdescription itemDescription">{{drink.description}}</div>
                                    
                                    <div class="checks">
                                        
                                        <div class="Mvegan check itemVegan" *ngIf="drink.vegan"><img class="iconimg" src = "https://res.cloudinary.com/ddskaubab/image/upload/f_auto,q_auto/vegan_rqu3az.png" alt="Logo"/></div>
                                        <div class="Mvegetarian check itemVegetarian" *ngIf="drink.vegetarian"><img class="iconimg" src = "https://res.cloudinary.com/ddskaubab/image/upload/f_auto,q_auto//vegetarian_kcboot.png" alt="Logo"/></div>
                                        <div class="Mlactosefree check itemLactose" *ngIf="drink.lactoseFree"><img class="iconimg" src = "https://res.cloudinary.com/ddskaubab/image/upload/f_auto,q_auto/lactose_erk6zo.png" alt="Logo"/></div>
                                        <div class="Mglutenfree check itemGluten" *ngIf="drink.glutenFree"><img class="iconimg" src = "https://res.cloudinary.com/ddskaubab/image/upload/f_auto,q_auto/gluten_iytb6a.png" alt="Logo"/></div>
                                    
                                    </div>
                                    
                                    
                                </div>
                                
                                
            
                            </div>
                
                
                        </div>
                        
                        
                        <div #menueBox class="desertsContainer menueContainer" id="desertsBox">
                            <div class="desertsContent itemS" *ngFor="let desert of desertsArray">

                                    <div class="imgandprice">
                                        <div class="image itemImageDiv">
                                            <img class="itemImage" [src]="desert.imgPath" alt="Description of image"/>
                                        </div>
                                        <div class="Mprice itemPrice">${{desert.price}}.00</div>
                                        <div class="addToCartBtn" (click)="addToCart(desert.name, desert.description, desert.price)">add to cart</div>

                                    </div>

                                    <div class="itemdata">
                                        <div class="itemHeaders">
                                            <div class="Mname itemName">{{desert.name}}</div>
                                            
                                        </div>
                                        <div class="Mdescription itemDescription">{{desert.description}}</div>
                                        
                                        <div class="checks">
                                            
                                            <div class="Mvegan check itemVegan" *ngIf="desert.vegan"><img class="iconimg" src = "https://res.cloudinary.com/ddskaubab/image/upload/f_auto,q_auto/vegan_rqu3az.png" alt="Logo"/></div>
                                            <div class="Mvegetarian check itemVegetarian" *ngIf="desert.vegetarian"><img class="iconimg" src = "https://res.cloudinary.com/ddskaubab/image/upload/f_auto,q_auto//vegetarian_kcboot.png" alt="Logo"/></div>
                                            <div class="Mlactosefree check itemLactose" *ngIf="desert.lactoseFree"><img class="iconimg" src = "https://res.cloudinary.com/ddskaubab/image/upload/f_auto,q_auto/lactose_erk6zo.png" alt="Logo"/></div>
                                            <div class="Mglutenfree check itemGluten" *ngIf="desert.glutenFree"><img class="iconimg" src = "https://res.cloudinary.com/ddskaubab/image/upload/f_auto,q_auto/gluten_iytb6a.png" alt="Logo"/></div>
                                    

                                        </div>
                                        
                                        
                                    </div>
                                    
                                    
                
                            </div>
                        </div>


            </div>
        </div>


    </div>


</div>

