<div class="mainDiv">
    <div class="sidebar">
        <div class="resLogo">
            <!--idk about the logo chief!-->

        </div>
        <div class="orders">
            <div class="topbar"> 
                <div class="neworders"></div>
                <div class="acceptedorders"></div>
                <div class="readyorders"></div>
                <div class="completedorders"></div>
            </div>
            <div class="content">
                <!--
                --div for new orders
                --div for accepted orders
                --div for ready to pick up orders
                --div for completed orders
                -->
            </div>

        </div>
        <div class="menue">
            <div class="topbar"> 
                <div class="meals"></div>
                <div class="drinks"></div>
                <div class="deserts"></div>
                <div class="additem"></div>
            </div>
            <div class="content">
                <div class="mealsContent">

                </div>
                <div class="drinksContent">

                </div>
                <div class="desertsContent">

                </div>
                <div class="additemContent">
                    
                </div>
            </div>
            <!-- meals -->
            <!-- drinks -->
            <!-- snacks -->
            <!-- Add Item! -->
        </div>
        <div class="stats">
            <!-- Top performer -->
            <!-- sales breakdown! -->

        </div>
        <div class="settings">
            <!-- Ready to take orders -->
            <!-- Change name -->
            <!-- Add logo -->
            <!-- Delete restaurant -->

        </div>

    </div>
    <div class="content">

    </div>
</div>