<div class="mainDiv">
    <div class="topBar">
        <div class="logo">
            <img class="logoimg" src = "http://localhost:3000/uploads/smallLogo.png" alt="Logo"/>
        </div>

        

        <div class="logoutDiv">
            <button class="logoutBtn" (click)="logout('logout requested!')">Log Out</button>
        </div>

    </div>

    <div class="mainContent">
        <div class="topPortion">
            <h1 class="resNameHeading">{{restaurantName}}</h1>
        </div>
        <div class="bottomPortion">
            <div class="sideBar">
                <div class="placePusher"></div>
                <div #tabs id="orderTab" class=" tabs"  (click)="showDiv('ordersDiv', 'orderTab')">
                    <label class="label Ltab">Orders</label>
                    
    
                </div>
                <div #tabs id="menueTab" class="menue tabs"  (click)="showDiv('menueDiv', 'menueTab')">
                    <label class="label Ltab">Menue</label>
            
                </div>
                <div #tabs id="statsTab" class="stats tabs"  (click)="showDiv('statsDiv', 'statsTab')">
                    <label class="label Ltab">Statistics</label>
                    
        
                </div>
                <div #tabs id="settingsTab" class="settings tabs"  (click)="showDiv('settingsDiv', 'settingsTab')">
                    <label class="label Ltab">Settings</label>
                    
                    
        
                </div>
            </div>
            
            <div class="contentB">
    
                <div #collapsables class="ordersContainer collapsables" id="ordersDiv">
                    <div class="ordersNavBar">

                    </div>
                    <div class="noOrdersYet" *ngIf="!ordersRetrieved || ordersRetrieved.length === 0"><h2> There are no orders yet !</h2></div>
                    <div class="orders" *ngIf="ordersRetrieved && ordersRetrieved.length > 0">
                        <table class="ordersTable">
                            <thead class="titles">
                                <tr class="tableRow">
                                    <th class="tableHeading">Order ID</th>
                                    <th class="tableHeading">Items Ordered</th>
                                    
                                    <th class="tableHeading">Order Status</th>
                                    <th class="tableHeading">Time Ordered</th>
                                    <th class="tableHeading">Last Modified</th>
                                    <th class="tableHeading">Next Stage</th>
                                </tr>
                            </thead>

                            <tbody class="tableContent">
                                <tr class="tablePart" *ngFor="let order of ordersRetrieved">
                                    <td class="tableSPart">{{order.id}}</td>
                                    <td  class="tableSPart">
                                        <ul>
                                            <li *ngFor="let item of order.items">{{item.name}}  X{{item.quantity}}</li>
                                        </ul> 
                                    </td>
                                    
                                    <td class="tableSPart">{{order.status}}</td>
                                    <td class="tableSPart">{{order.createdAt | date:' MM/dd,  h:mm a'}}</td>
                                    <td class="tableSPart">{{order.updatedAt | date:' MM/dd,  h:mm a'}}</td>
                                    <td class="tableSPart"><div class=" advancebtn" (click)="advanceOrder(order.id)">Process <i class="fas fa-arrow-right"></i> </div></td>
                                        
                                    
                                </tr>
                            </tbody>

                        </table>

                        
                    </div>
                </div>
    
                <div #collapsables class="menueTab collapsables" id="menueDiv">
    
                    <div class="navBar">
                        <div #menueTab class="navBarLabelDiv" id="mealsTab" (click)="showMenueBox('mealsBox', 'mealsTab')">
                            <label class="navBarLabel label2">Meals Menue</label>
                        </div>
                        <div #menueTab class="navBarLabelDiv" id="drinksTab" (click)="showMenueBox('drinksBox', 'drinksTab')">
                            <label class="navBarLabel label2">Drinks Menue</label>
                        </div>
                        <div #menueTab class="navBarLabelDiv" id="desertsTab" (click)="showMenueBox('desertsBox', 'desertsTab')">
                            <label class="navBarLabel label2">Desserts Menue</label>
                        </div>
                        <div #menueTab class="navBarLabelDiv" id="addItemTab" (click)="showMenueBox('addItemBox', 'addItemTab')">
                            <label class="navBarLabel label2">Add Menue Item</label>
                        </div>
    
                    </div>
                    <div class="contentC">
                        <div #menueBox class="mealsContainer" id="mealsBox" >
                            <div class="mealsContent itemS" *ngFor="let meal of mealsArray">
                                <div class="image itemImageDiv">
                                    <img class="itemImage" [src]=" 'http://localhost:3000/' + meal.imgPath" alt="Description of image"/>
                                </div>
                                <div class="itemdata">
                                    <div class="itemHeaders">
                                        <div class="Mname itemName">{{meal.name}}</div>
                                        <div class="deletebtndiv">
                                            <button (click)="deleteItem(meal.name, meal.description, meal.type)" class="deletebtn "> <i class="fas fa-xmark"></i> </button>
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="Mdescription itemDescription">{{meal.description}}</div>
                                    <div class="Mprice itemPrice">${{meal.price}}</div>
                                    <div class="checks">
                                        <div class="Mhalal check itemHalal" *ngIf="meal.halal">&#x062D;&#x0644;&#x0627;&#x0644;
                                        </div>
                                        <div class="Mvegan check itemVegan" *ngIf="meal.vegan"><i  class="fas fa-v"></i><i class="fas fa-plus"></i></div>
                                        <div class="Mvegetarian check itemVegetarian" *ngIf="meal.vegetarian"><i style="color: green;" class="fas fa-v"></i></div>
                                        <div class="Mlactosefree check itemLactose" *ngIf="meal.lactoseFree"><i class="fas fa-cow"></i><i style="color: red;" class="fas fa-xmark"></i></div>
                                        <div class="Mglutenfree check itemGluten" *ngIf="meal.glutenFree"><i style="color: brown;" class="fas fa-bread-slice"></i><i style="color: red;"class="fas fa-xmark"></i></div>
                                    </div>
                                    
                                    
                                </div>
                                
                                
            
                            </div>
                        </div>
    
    
    
    
    
                        <div #menueBox class="drinksContainer " id="drinksBox" >
                            <div class="drinksContent itemS" *ngFor="let drink of drinksArray">
                                <div class="image itemImageDiv">
                                    <img class="itemImage" [src]=" 'http://localhost:3000/' + drink.imgPath" alt="Description of image"/>
                                </div>
                                <div class="itemdata">
                                    <div class="itemHeaders">
                                        <div class="Mname itemName">{{drink.name}}</div>
                                        <div class="deletebtndiv">
                                            <button (click)="deleteItem(drink.name, drink.description, drink.type)" class="deletebtn "> <i class="fas fa-xmark"></i> </button>
                                        </div>
                                        
                                    </div>
                                    <div class="Mdescription itemDescription">{{drink.description}}</div>
                                    <div class="Mprice itemPrice">${{drink.price}}</div>
                                    <div class="checks">
                                        <div class="Mhalal check itemHalal" *ngIf="drink.halal"> &#x062D;&#x0644;&#x0627;&#x0644;
                                        </div>
                                        <div class="Mvegan check itemVegan" *ngIf="drink.vegan"><i style="color: green;" class="fas fa-v"></i><i class="fas fa-plus"></i></div>
                                        <div class="Mvegetarian check itemVegetarian" *ngIf="drink.vegetarian"><i style="color: green;" class="fas fa-v"></i></div>
                                        <div class="Mlactosefree check itemLactose" *ngIf="drink.lactoseFree"><i class="fas fa-cow"></i><i style="color: red;" class="fas fa-xmark"></i></div>
                                        <div class="Mglutenfree check itemGluten" *ngIf="drink.glutenFree"><i style="color: brown;" class="fas fa-bread-slice"></i><i style="color: red;"class="fas fa-xmark"></i></div>
                                    
                                    </div>
                                    
                                    
                                </div>
                                
                                
            
                            </div>
                
                
                        </div>  
    
    
    
    
    
                        <div #menueBox class="desertsContainer " id="desertsBox">
                            <div class="desertsContent itemS" *ngFor="let desert of desertsArray">
                                    <div class="image itemImageDiv">
                                        <img class="itemImage" [src]=" 'http://localhost:3000/' + desert.imgPath" alt="Description of image"/>
                                    </div>
                                    <div class="itemdata">
                                        <div class="itemHeaders">
                                            <div class="Mname itemName">{{desert.name}}</div>
                                            <div class="deletebtndiv">
                                                <button (click)="deleteItem(desert.name, desert.description, desert.type)" class="deletebtn "> <i class="fas fa-xmark"></i> </button>
                                            </div>
                                            
                                        </div>
                                        <div class="Mdescription itemDescription">{{desert.description}}</div>
                                        <div class="Mprice itemPrice">${{desert.price}}</div>
                                        <div class="checks">
                                            <div class="Mhalal check itemHalal" *ngIf="desert.halal"> &#x062D;&#x0644;&#x0627;&#x0644;
                                            </div>
                                            <div class="Mvegan check itemVegan" *ngIf="desert.vegan"><i style="color: green;" class="fas fa-v"></i><i  class="fas fa-plus"></i></div>
                                            <div class="Mvegetarian check itemVegetarian" *ngIf="desert.vegetarian"><i style="color: green;" class="fas fa-v"></i></div>
                                            <div class="Mlactosefree check itemLactose" *ngIf="desert.lactoseFree"><i class="fas fa-cow"></i><i style="color: red;" class="fas fa-xmark"></i></div>
                                            <div class="Mglutenfree check itemGluten" *ngIf="desert.glutenFree"><i style="color: brown;" class="fas fa-bread-slice"></i><i style="color: red;"class="fas fa-xmark"></i></div>

                                        </div>
                                        
                                        
                                    </div>
                                    
                                    
                
                            </div>
                        </div>
    
    
    
    
    
                        <div #menueBox class="additemContent" id="addItemBox" >
                            <div class="formDiv">
                                <form #menueForm="ngForm" (ngSubmit)="submitMenueItem(menueForm)">
                                    <div class="menu">
                                        <div class="item" #itemContainer>
                                            <div class="form-group item" #itemDiv>  
                                                <label class="addItemFieldLabel" for="itemType">Item Type</label>
                                                <select id="itemType" class="field" name="itemType">
                                                    <option value="meal">Meal</option>
                                                    <option value="drink">drink</option>
                                                    <option value="desert">desert</option>
                                                </select>
                                                
                                                <label class="addItemFieldLabel" for="itemName">Item Name</label>
                                                <input type="text" class="field"  name="itemName" required>

                                                <label class="addItemFieldLabel" for="itemDescription">Description/Ingredients</label>
                                                <input type="text" class="field des"  name="itemDescription" required>

                                                <label class="addItemFieldLabel" for="itemPrice">Price</label>
                                                <input type="number" class="field"  name="itemPrice" required>

                                                <div class="checkinput">
                                                    <input type="checkbox" class="checkboxB"  name="halal" required>
                                                    <label class="addItemFieldLabel" for="halal">Halal</label>
                                               
                                                </div>
                                                

                                                <div class="checkinput">
                                                    <input type="checkbox" class="checkboxB"  name="vegan" required>
                                                    <label class="addItemFieldLabel" for="vegan">Vegan</label>
                                                    
                                                </div>
                                                <div class="checkinput">
                                                    <input type="checkbox" class="checkboxB"  name="vegetarian" required>
                                                    <label class="addItemFieldLabel" for="vegetarian">Vegetarian</label>
                                                    
                                                </div>
                                                <div class="checkinput">
                                                    <input type="checkbox" class="checkboxB"  name="glutenFree" required>
                                                    <label class="addItemFieldLabel" for="glutenFree">Gluten Free</label>
                                                   
                                                </div>
                                                <div class="checkinput">
                                                    <input type="checkbox" class="checkboxB"  name="lactoseFree" required>
                                                    <label class="addItemFieldLabel" for="lactoseFree">Lactose Free</label>
                                                   
                                                </div>
                                                <div class="checkinput imgupdiv">
                                                    <label class="addItemFieldLabel imglabel" for="itemimg">Item Image</label>
                                                    <input type="file" class=""  name="itemimg" (change)="onFileSelected($event)" accept="image/*" required>
                                                </div>

                                                <div class="submitBtndiv">
                                                    <button class="submitbtn"type="submit">Submit menue Item</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            
                                    
                            
                                            
                            
                                </form>
                            </div>
                           
            
                        </div>
                    </div>
                    
    
    
                </div>
    
                <div #collapsables class="stats collapsables" id="statsDiv">
                    <div class="navBar">

                    </div>
                    <div class="contentC">

                    </div>
                </div>
    
                <div #collapsables class="settings collapsables" id="settingsDiv">
                    <div class="navBar">

                    </div>
                    <div class="contentC">
                        <div class="deleteresdiv">
                            <button (click)="deleteRestaurant()" class="deletebtn">Delete restaurant</button>
                        </div>
                    </div>
                    
                </div>
                
    
               
                
                
                
                
                
                
                
    
            </div>

        </div>
        

    </div>
    
</div>