.mainDiv{
    background: #e5e8e2;
    
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.topBar{
    width: 100%;
    display: flex;
    margin-right: 10px;
    height: 10%;

    flex-direction: row;
    justify-content: space-between;
}

.topPortion{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
}

.resNameHeading{
    border-bottom: solid 1px;
}

.mainContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 85%;
    border-radius: 10px;
    

}
.bottomPortion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    height: 85%;
    border-radius: 10px;
}

.contentB{
    width: 70%;
    background-color: #9ebb8d;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    
}

.logo{
    width:10%;  
}


.logoimg{
    width: 100%;
    height:100%;
    object-fit:contain;
}

.logoutDiv{
    
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoutBtn {
    margin-top: 20px;
    bottom: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    user-select: none;
    color: white;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #000000;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #000000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #334625;
    box-shadow: 7px 7px 8px 0px rgba(0,0,0,0.2);
  }
  
  .logoutBtn:hover {
    transition: all 0.3s ease;
    transform: scale(1.1);
    background-color: #4B6134;
    
    
  }


.label{
    font-family: 'lato', sans-serif;
    font-weight: bold;
    transition: 0.3s ease;
}

.label:hover{
    scale: 1.2;
}
.sideBar{
    width: 10%;
    border-radius: 10px;
    border-bottom-right-radius:0%;
    border-top-right-radius:0%;
    margin-left: 2.5%;
    
    
    
    
    
}

.placePusher{
    height: 20%;

}

.Ltab{
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.tabs{
    
    margin-bottom:10px;
    background-color: #9ebb8d; 
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;


}


.ordersContainer{
    display: flex;
}

.noOrdersYet{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #9ebb8d;
    border-radius: 9px;
    box-shadow: 15px 15px 8px 0 rgba(0, 0, 0, 0.2);
    align-items: center;

    
}

.menueTab{
    
    background-color: blue;
}
.mealsContainer{
    display: none;
}
.drinksContainer{
    display: none;
}
.desertsContainer{
    display: none;
}

.additemContent{
    display: none;
    margin: 10px;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    
}
.formDiv{
    display: flex;
    justify-content: center;
    width: 70%;
    height: fit-content;
}

.collapsables{
    display: none;

    flex-direction: column;
    background-color: #e5e8e2;
    width: 100%;
    height: 100%;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    
    
}
.collapsables:first-child{
    display: flex;
}

.ordersNavBar{
    width: 100%;
    height: 20%;
    background-color: transparent;
    display: flex;
    align-items: flex-end;
    
}

.navBar{
    width: 100%;
    height: 20%;
    background-color: transparent;
    display: flex;
    align-items: flex-end;
    
}

.navBarLabelDiv{
    
    margin-left: 10px;
    display: flex;
    height: 50%;
	width:15%;
    justify-content: center;
    align-items: center;
    background-color: #bcd9ab ;
    
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    transition: 0.3s ease;

}



.label2{
    font-family: 'lato', sans-serif;
    font-weight: bold;
    transition: 0.3s ease;
}

.contentC{
    background-color: #9ebb8d;
    width: 100%;
    height: 100%;
    display: flex;
    box-shadow: 15px 15px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 9px;
    overflow: auto; /* Enables scrolling */
    scrollbar-width: none; /* Hides scrollbar in Firefox */
    -ms-overflow-style: none;
    
}

.contentC::-webkit-scrollbar{
    display:none;
}

.itemS{
    display: flex;
    height: 50%;
    width: 50%;
    margin-left: 20px;
    margin-top: 20px;
    flex-direction: row;
    border-radius: 9px;
    
    background-color: #f0e6e6;
    box-shadow: 7px 7px 8px 0px rgba(0,0,0,0.2);
    
}



.itemImageDiv{
    display: flex;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    width: 30%;
    margin-right: 5px;
    
}

.itemImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

.itemdata{
    display: flex;
    width:70%;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 5px;
    
    
}

.itemHeaders{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    border-bottom: solid grey 1px;
}

.itemName{
    font-weight: bold;
    font-family: 'lato' sans-serif;
    font-size: large;
    width: 100%;
    
    display: flex;
    justify-content: left;
    align-items: center;
    
}

.itemDescription{
    font-family: 'lato' sans-serif;
    font-weight: bold;
    font-size: small;
    width: 100%;
    
    padding-right: 5px;
    
}
.itemPrice{
    margin-top: 5px;
    display: flex;
    width:100%;
    justify-content: center;
    font-family: 'lato' sans-serif;
    font-weight: bold;
    font-size: large;

}

.checks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.check{
    margin: 5px;
    margin-left: 10px;
}

.itemHalal{
    font-weight: bold;
}



.deletebtndiv{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
}

.deletebtn {
    
    bottom: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    font-size: large;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    user-select: none;
    color: red;
    border: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: transparent;
    
  }
  
  .deletebtn:hover {
    transition: all 0.3s ease;
    background-color: red;
    color: black;
    
  }

.menu{
    width: 100%;
    height: fit-content;
    background-color: #f0e6e6;
    border-radius: 9px;
    box-shadow: 7px 7px 8px 0px rgba(0,0,0,0.2);
    padding: 10px;
}

.item{
    display: flex;
    flex-direction: column;

}

.addItemFieldLabel{
    font-weight: bold;
    font-family: 'lato' sans-serif;

}

.checkinput{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-bottom: 10px;
}

.checkinput:last-child{
    flex-direction: column;
}
.checkboxB{
    margin-right: 5px;
}

.imgupdiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.imglabel{
    margin-bottom: 10px;
}

.submitbtn{
    
    bottom: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    user-select: none;
    color: white;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #000000;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #000000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #334625;
    box-shadow: 7px 7px 8px 0px rgba(0,0,0,0.2);
}

.submitBtndiv{
    display: flex;
    justify-content: center;
}

.submitbtn:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
    background-color: #9ebb8d;
    color: black;
}

.field{
    margin-bottom: 20px;
    border-radius: 9px;
}

.des{
    height: 150px;
}

