<div class="mainDiv">
    <div class="sidebar">
        <div class="resLogo">
            <!--idk about the logo chief!-->

        </div>
        <div class="orders">
            <!-- horizontal line with all the below options! -->
            <!--new orders-->
            <!-- accepted orders! -->
            <!-- ready to pick up order -->
            <!-- completed orders -->

        </div>
        <div class="menue">
            <!-- horizontal line with all the below options! -->
            <!-- meals -->
            <!-- drinks -->
            <!-- snacks -->
            <!-- Add Item! -->
        </div>
        <div class="stats">
            <!-- Top performer -->
            <!-- sales breakdown! -->

        </div>
        <div class="settings">
            <!-- Ready to take orders -->
            <!-- Change name -->
            <!-- Add logo -->
            <!-- Delete restaurant -->

        </div>

    </div>
    <div class="content">

    </div>
</div>