@keyframes fadeIn{
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
} 
 
body {
    background: linear-gradient(to top, #F39F5a, #1d1a39);
    animation: fadeIn 0.7s ease-in-out forwards;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}




    