<div class="logSection">
     <div class="logo">
          
          
           <img class="logoimg" src = "https://res.cloudinary.com/ddskaubab/image/upload/f_auto,q_auto/MainLogo22_lcccbe.png" alt="Logo"/>
         
              
     </div>


     <div class="btns">
          
          <div class="cta" href="#">
               <button (click)="OpenListingForm('Open Listing Form!')">List a restaurant</button>
          </div>

          <div class="divider">
               <div class="line"></div>
               <p>or</p>
               <div class="line"></div>
          </div>

          <div id="googlebtn" >


          </div>
         

          
          
     </div>
     
     
     
</div>