<div class="logSection">
     <div class="logo">
          
          <div class="logoText">
               <h1 class="logoH">Halal Eats</h1>
          </div>
              
     </div>


     <div class="btns">
          
          <div class="cta" href="#">
               <button (click)="OpenListingForm('Open Listing Form!')">List a restaurant</button>
          </div>

          <div class="divider">
               <div class="line"></div>
               <p>or</p>
               <div class="line"></div>
          </div>

          <div id="googlebtn" >


          </div>
         <!--
        
        google log in fields
        
        -->

          
          
     </div>
     
     
     
</div>