@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



.body{
   background-color: #e5e8e2;
}

.logSection {
    display: flex;
    flex-direction: column;
    justify-content:flex-start; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Take at least the full height of the viewport */
    width: 100vh;
    background-color: #e5e8e2;
}


 .logo{
   margin-top: 10%;
   margin-bottom: 5%;
   width: 55%;
   height: 55%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   
 }

 
 .logoText{
    display: flex;
    align-items: center;
 }

 .logoH{
    font-size: 10vh;
 }


 .btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

 }
.divider {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   width: 100%;
}

.line {
   flex-grow: 1;
   height: 1px;
   background-color: #000; /* Change the color as needed */
   margin: 0 10px; /* Adjust spacing around the 'or' text */
}


 .cta{
   width: 100%;
   
 }

 button{
   padding: 9px 25px;
   padding-bottom: 9px;
   color: white;
   width: 100%;
   background-color: #334625;
   border: none;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease 0s;
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   font-size: 16px;
   
}

button:hover{
   background-color: #9ebb8d;
   color: black;
   
}

.logoContainer{
   width: 70%;
   height: 50%;
   
}

.logoimg{
   
   height: 100%;
   object-fit: contain;
   
   
}

