.logSection {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 80vh; /* Take at least the full height of the viewport */
    
}


 .logo{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    
 }

 
 .logoText{
    display: flex;
    align-items: center;
 }

 .logoH{
    font-size: 10vh;
 }


 .btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 }

