<div class="logSection">
     <div class="logo">
          
          <div class="logoText">
               <h1 class="logoH">Halal Eats</h1>
          </div>
              
     </div>


     <div class="btns">
          
          <div class="cta" href="#">
               <button (click)="OpenListingForm('Open Listing Form!')">List a restaurant</button>
          </div>

          <div class="divider">
               <div class="line"></div>
               <p>or</p>
               <div class="line"></div>
          </div>
          <div id="g_id_onload"
               data-client_id="490153988551-ennqdrg2knoqj3rm1encr5vq0f7tlh50.apps.googleusercontent.com"
               data-context="signup"
               data-ux_mode="popup"
               data-callback="handleCredentialResponse"
               data-auto_select="true"
               data-itp_support="true">
          </div>

          <div class="g_id_signin"
               data-type="standard"
               data-shape="pill"
               data-theme="filled_black"
               data-text="signup_with"
               data-size="large"
               data-logo_alignment="left">
          </div>

          
          
     </div>
     
     
     
</div>